{% load static %}
<html>
<head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body onload="run_on_load()" class="darken-4 grey-text text-lighten-4">
<header class="">
    <ul id="dropdown_add" class="dropdown-content">
        <li><a href="#!">Create Group</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <ul id="dropdown_notifications" class="dropdown-content">
        <li><a href="#!">Create Group</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav id="particles-js" class="darken-4">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo "><img class="circle responsive-img" src="{{ user.get_icon }}"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><i class="material-icons">search</i></a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown_add"><i class="material-icons">add</i></a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown_notifications"><i class="material-icons">notifications</i></a></li>
                <li><a href="#"><i class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </nav>
    <!--
        Nav Blocks left of sidenav
    -->
    <div class="col darken-4" id="icon-nav">
        <ul>
            <li><a href="#!"><img style="width:48px; height:48px; margin-left:8px;" class="circle responsive-img" src="{% static 'img/no_profile_img_placeholder.png' %}"></a></li>
            <li><a href="#!"><i class="material-icons">add</i></a></a></li>

        </ul>
    </div>
    <!--
        Sidenav
    -->
    <ul id="slide-out" class="sidenav sidenav-fixed darken-4 grey-text text-lighten-4">
        <div class="col lg-8">
            <ul>
                <li class=""><a href="#!" class="grey-text text-lighten-4">First Sidebar Link</a></li>
            </ul>
        </div>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</header>
<main>

    {% block content %}
    {% endblock %}
</main>
<footer>

</footer>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js" integrity="sha256-icjghcPaibMf1jv4gQIGi5MeWNHem2SispcorCiCfSg=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="{% static 'js/dashboard_js.js' %}"></script>
</body>
</html>